.single-file-picker {
  position: relative;
  button {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
  .single-file-picker-input {
    display: none;
  }
}

