.page-contianer {
  
  .ant-layout-header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .main-content-container {
    padding: 0 50px;
    margin-top: 128px;
    display: flex;
  }

  .header-ident {
    background-color: rgba(53, 62, 72, 1);
  }

  .header-nav {
    margin-top: 40px;
  }

}
