.page-container {

  .ant-layout-header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .main-content-container {
    padding: 0 50px;
    margin-top: 88px;
    display: flex;
  }

  .header-ident {
    background-color: rgba(53, 62, 72, 1);
  }

  .header-nav {
    background-color: rgba(64, 76, 88, 1);
    margin-top: 40px;
    height: 44px;
    line-height: 44px;
  }

}
