@import "src/styles/variables";

.page-container {

  .ant-layout-header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .main-content-container {
    @media (min-width: 992px) {
      padding: 0 50px;
    }
    margin-top: $nav-bar-height;
    display: flex;
  }

  .header-nav {
    z-index: 6;
    height: $nav-bar-height;
    background-color: $unifi-top-header-1;
  }
}
