@import 'src/styles/variables.scss';

.login-page {
  &__form {
    max-width: 420px;
    padding: 24px;
    margin: 0 auto;
    min-width: 260px;
    flex: 1;
    background-color: #fff;
    align-self: flex-start;
    border-radius: 5px;
  }

  &__title {
    margin-bottom: 15 px;
  }

  &__logo {
    margin-bottom: 16px;
  }
}
