.live-site-floor-plan {
  display: flex;

  .floor-indicator {
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-end;
    width: 100px;

    > div {
      height: 148px;
      position: relative;
      bottom: -23px;

      display: flex;
      justify-content: center;  
      align-content: flex-end;
      align-items: flex-end;

      font-weight: 500;
      color: #E0E0E0;
      font-size: 75px;
    }
  }

  .capacity-indicator {
    display: flex;
    flex: 1;
    flex-flow: column-reverse;
    justify-content: flex-end;
    padding-top: 60px;

    > div {
      min-width: 130px; 
      max-width: 200px;
      height: 148px;
      display: flex;
      align-items: center
    }
  }

  .progress-indicator-wrapper {
    min-width: 110px;
    width: 110px;
    height: 110px;
  }

  .people-count-container {

    flex: 1;
    text-align: end;

    .people-label {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .people-count-value {
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}