@import "src/styles/variables";

.user-actions {
  height: 100%;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;

  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
    border: 1px solid $unifi-line-color;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__menu-toggle {
    line-height: $nav-bar-height;
    padding: 0 5px 0 15px;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;

    &, &:hover, &:focus {
      color: #fff;
      text-decoration: none;
      outline: none;
    }

    &--open {
      background-color: rgba(0, 0, 0, .3);
    }

    &--active {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 4px solid $unifi-primary-color !important;
      }
    }
  }

  &__caret {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 10px !important;
  }

  .ant-menu-item {
    margin: 2px 0 !important;
    font-size: 14px;
  }
}
