@import 'src/styles/variables';

.asset-card {
  padding: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
  
  &__text {
    padding: 8px;
    border: 1px solid $unifi-line-color;
    border-top: none;
  }

  &__image {
    border: 1px solid $unifi-line-color;
  }
}

.asset-grid--large {
  .asset-card {
    width: 50%;
    @media (min-width: 600px) {
      width: 33.33%;
    }
    @media (min-width: 992px) {
      width: 25%;
    }
    @media (min-width: 1200px) {
      width: 20%;
    }
  }
}

.asset-grid--small {
  .asset-card {
    width: 33.33%;
    @media (min-width: 600px) {
      width: 25%;
    }
    @media (min-width: 992px) {
      width: 20%;
    }
    @media (min-width: 1200px) {
      width: 16.66%;
    }
  }
}
