# AWS Environment
aws_access_key = ""

aws_secret_key = ""

aws_private_key_path = "../../ssh/id_rsa"

aws_public_key_path = "../../ssh/id_rsa.pub"

aws_key_name = "terraform_deploy"

aws_region = "eu-west-2"

aws_vpc_description = "shan-ucl VPC"

aws_vpc_cidr = "10.10.0.0/21"

aws_subnet_cidr = "10.10.1.0/24"

# Unifi Application Environment 
unifi_environment = "dev"

unifi_nodeid = "shan-ucl"

unifi_env_name = "shan-ucl"

postgres_password = "hiA0iJGK96x0Npjk6O4"
