@mixin hcenter() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin vcenter() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin vhcenter() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
