$unifi-primary-color: #1dc992;
$unifi-primary-hover-color: #1ba278;
$unifi-secondary-color: #e0e0e0;
$unifi-secondary-hover-color: #ccc;
$unifi-type-color: #2a2a2a;
$unifi-line-color: #b1bfc4;
$unifi-link-color: #00a7c0;
$unifi-table-header-color: #f5f7fa;
$unifi-warning: #eda03a;
$unifi-error: #cc0000;
$unifi-top-header-1: #353e48;
$unifi-top-header-2: #404c58;

$unifi-nav-bar-height: 40px;
$unifi-container-gutter: 50px;
$unifi-container-gutter-sm: 15px;
