<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

    body {
      font-family: 'OpenSans', 'Open Sans', sans-serif;
      text-rendering: optimizeLegibility;
      margin: 5px;
      font-size: 12pt;
    }

    p {
      margin: 0 0 1em 0;
    }

    b {
      font-family: 'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .big {
      font-size: 15pt;
    }

    .huge {
      margin-top: -0.6em;
      font-size: 21pt;
    }

    a {
      color: #00A7C0;
    }

    .no-link a {
      color: #000;
      text-decoration: none !important;
    }
  </style>
</head>
<body>
<div style="margin-top: 20px; margin-left: auto; margin-right: auto; display: block; max-width: 592px;">
  <div style="margin: 0; border: solid #404c58; border-width: 0 0 20px; width: 100%; box-sizing: border-box; height: 60px; background-color: #353e48;">
    <img src="https://app.unifi.id/static/media/unifi-email-logo.png" width="67" height="20" style="border-width: 0; padding: 10px;">
  </div>
  <div style="word-wrap: break-word; width: 100%; box-sizing: border-box; border: solid #b1bfc4; border-width: 0 1px 1px; padding: 38px 24px;">
