Hi {{operator.name}},

You have been invited by {{onboarder.name}} to join unifi.id.

Your username is:
{{operator.username}}

To sign up, please click on the link below or copy and paste the link into your browser.

{{setPasswordUrl}}

After you click the link, follow the instructions to create and confirm your new password. The link will expire in 24 hours from the time it was sent.

The unifi.id Team
