{{> common-pre}}
<p class="big no-link">Hi <b>{{operator.name}}</b>,</p>
<p class="no-link">You have been invited by <b>{{onboarder.name}}</b> to join unifi.id.</p>
<p>Your username is:</p>
<p class="huge no-link"><b>{{operator.username}}</b></p>
<p>To sign up, please click on the link below or copy and paste the link into your browser.</p>
<p><a href="{{setPasswordUrl}}">{{setPasswordUrl}}</a></p>
<p>After you click the link, follow the instructions to create and confirm your new password.
  The link will expire in 24 hours from the time it was sent.</p>
<p class="no-link">The unifi.id Team</p>
{{> common-post}}
