Hi {{username}},

You have been invited by {{onboarder.name}}.

Your username is:
{{username}}

To join unifi.id click <a href="{{setPasswordUrl}}">here</a> or paste the following link into your browser:
{{setPasswordUrl}}

This link will expire in {{expiryTime}}.
