{{> common-pre}}
<p class="big no-link">Hi <b>{{operator.name}}</b>,</p>
<p>This email confirms that you requested to reset your unifi.id password for the following username:</p>
<p class="huge no-link"><b>{{operator.username}}</b></p>
<p>To reset your password, please click on the link below or copy and paste the link into your browser.</p>
<p><a href="{{setPasswordUrl}}">{{setPasswordUrl}}</a></p>
<p>After you click the link, follow the instructions to create and confirm your new password.
  The link will expire in {{expiryTime}} from the time it was sent.</p>
<p>If this wasn't you or you no longer want to change your password, please let us know by clicking or pasting the following link into your browser:</p>
<p><a href="{{cancelUrl}}">{{cancelUrl}}</a></p>
<p class="no-link">The unifi.id Team</p>
{{> common-post}}
