<p>Hello {{username}}!</p>

<p>You or someone else have asked us to reset your password.
  If this was you please click on the link below or paste it in your browser:</p>
<p><a href="{{setPasswordUrl}}">{{setPasswordUrl}}</a></p>

<p>If you didn't request this or no longer want to change your password, please click or paste the following link:</p>
<p><a href="{{cancelUrl}}">{{cancelUrl}}</a></p>
<p>The above links will expire in {{expiryTime}}.</p>
