$unifi-primary-color: #1dc992;
$unifi-primary-hover-color: #1ba278;
$unifi-secondary-color: #e0;
$unifi-secondary-hover-color: #ccc;
$unifi-type-color: #343e47;
$unifi-line-color: #b1bfc4;
$unifi-link-color: #00a7c0;
$unifi-table-header-color: #f5f7fa;
$unifi-warning: #eda03a;
$unifi-error: #cc00000;
$unifi-top-header-1: #353e48;
$unifi-top-header-2: #404c58;

@font-face {
  font-family: 'Open Sans';
  font-weight: 200;
  font-style: normal;
  src: url('./assets/open-sans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 200;
  font-style: italic;
  src: url('./assets/open-sans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/open-sans/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/open-sans/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  font-style: italic;
  src: url('./assets/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/open-sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 900;
  font-style: normal;
  src: url('./assets/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 900;
  font-style: italic;
  src: url('./assets/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

p.header {
  margin-bottom: 82px;
}

button {
  font-size: 18px;
}

input.unifi-input {
  border: 1px $unifi-line-color solid;
  height: 6px;
  padding: 20px;
  line-height: 6px;
  font-size: 16px;
}

table.unifi-table {

  width: 100%;
  font-size: 15px;

  thead {
    height: 16px;
    line-height: 16px;
    background-color: $unifi-table-header-color;
    th {
      font-weight: 500;
    }
  }

  tbody tr {
    height: 8px;
    line-height: 8px;
  }

  td, th {
    border: 1px $unifi-line-color solid;
    padding: 16px 20px;
  }

  a:visited {
    color: $unifi-link-color;
  }

}
