# Standard/Recommended librato conf (Original in /var/cfengine/local/etc/collectd/collect.conf.original)

Interval 60

LoadPlugin syslog
LoadPlugin cpu
LoadPlugin disk
LoadPlugin load
LoadPlugin memory
LoadPlugin df
LoadPlugin write_http

#Log collectd events in syslog
<Plugin syslog>
  LogLevel info
</Plugin>

#Librato configuration
<Plugin "write_http">
  <Node "AppOptics">
    URL "https://collectd.librato.com/v1/measurements"
    User "$(collectd.appoptics_api_key)"
    Password ""
    Format "JSON"
  </Node>
</Plugin>

#Report aggregated CPU as % (not per core)
<Plugin cpu>
  ReportByCpu false
  ReportByState false
  ValuesPercentage true
</Plugin>

#Report disk-free in percent bytes (not of 1k blocks)
<Plugin df>
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

# Include additional config stubs
<Include "/etc/collectd/collectd.conf.d">
	Filter "*.conf"
</Include>
