.flipped-card-stack {
  transform-style: preserve-3d;
  display: flex;
  flex-flow: column-reverse;
}

.flipped-card-container {
  perspective: 550px;
  height: 150px;
}

.flipped-card {
  width: 320px;
  height: 240px;
  transform: rotateX(60deg);
  border: 1px solid #000;
  border-bottom: 3px solid #000;
  display: flex;
  align-items: stretch;
}

.floor-layout {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-flow: column;
}



.floor-view-stiars-icon {
  width: 110px;
  height: 60px;
  background: #000;
  display: flex;
  padding: 2px;
  align-items: flex-end;


  > div {
    width: 12%;
    background-color: rgba(255,255,255, 0.8);
    margin-right: 3px;
  }

  > div:first-child {
    height: 100%;
  }

  > div:nth-child(2) {
    height: 70%;
  }
  > div:nth-child(3) {
    height: 40%;
  }
  > div:nth-child(4) {
    height: 10%;
  }
}