.flipped-card-stack {
  transform-style: preserve-3d;
  display: flex;
  // flex-flow: column-reverse;
  flex-flow: column;
  padding: 0px 40px 90px 40px;
  overflow: hidden;
  margin: 0 50px;
  width: 400px;
}

.flipped-card-container {
  perspective: 550px;
  height: 150px;
  display: flex;
  // border: 1px solid red;
}

.flipped-card {
  width: 320px;
  height: 240px;
  transform: rotateX(60deg);
  border: 1px solid #000;
  border-bottom: 3px solid #000;
  display: flex;
  align-items: stretch;
}

.floor-layout {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-flow: column;
}