.floor-section {
  position: relative;
  background: #d3d3d3;
  margin-bottom: 5px;
  flex: 1;

  .floor-section-title {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-width: 70px;
    height: 30px;
    text-align: center;
  }
}