@import 'src/styles/variables';

.top-navigation {

  height: $nav-bar-height;
  line-height: $nav-bar-height;
  border-bottom: 0;
  flex: 1;
  padding: 0 20px;

  .ant-menu-item {
    color: #fff;
  }

  .ant-menu-item-selected {
    background-color: inherit !important;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      border-bottom: 4px solid $unifi-primary-color !important;
    }
  }

}
