<configuration>
    <jmxConfigurator />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- see http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="id.unifi.service.integration.gallagher" level="INFO" />
    <logger name="org.jinterop" level="WARN" />
</configuration>
