@import 'src/styles/variables';

.breadcrumbs {
  &__inner {
    display: flex;
    height: 2em;
    margin: 0 auto;
    align-items: center;
    font-size: 14px;
  }

  &__crumb {
    margin-right: 0.5em;
    text-decoration: none;
    vertical-align: middle;
    transition: color 250ms;
    color: $unifi-primary-color;
  }

  &__crumb:hover {
    color: $unifi-primary-hover-color;
  }

  &__crumb--active {
    pointer-events: none;
    color: $unifi-type-color;
  }

  &__separator {
    margin-right: 0.5em;
    pointer-events: none;
    vertical-align: middle;
  }

  &--hidden {
    display: none;
  }
}
