.evacuation-progress-bar {
  position: relative;

  
  &.status-good {
    .CircularProgressbar .CircularProgressbar-path {
      stroke: rgb(31, 201, 145)
    }
  }

  &.status-warning {
    .CircularProgressbar .CircularProgressbar-path {
      stroke: rgb(237, 160, 58) 
    }
  }

  &.status-critical {
    .CircularProgressbar .CircularProgressbar-path {
      stroke: rgb(204, 0, 0)
    }
  }



  .CircularProgressbar .CircularProgressbar-text {
    stroke: #fff;
    fill: #fff;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #fff
  }
}

.evacuation-progress-bar-circle {
  position: relative;
  z-index: 2;
}

.evacuation-progress-background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #001529;
  border-radius: 50%;
  z-index: 1;
}