.page-sidebar {
  width: 200px;
  background: #fff
}

.page-content-layout {
  background-color: #fff;
  border-left: 1px solid #c6d0d5;
  border-right: 1px solid #c6d0d5;
}

.page-content {
  padding: 24px;
  max-width: 1000px;
}
