.page-sidebar {
  width: 200px;
  z-index: 1;
  background: #fff
}

.page-content-layout {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;

  @media (min-width: 992px) {
    border-left: 1px solid #c6d0d5;
    border-right: 1px solid #c6d0d5;
  }
}
