.ident-bar {
  display: flex;
  height: 40px;
  background-color: rgba(53, 62, 72, 1);
  justify-content: space-between;
  overflow: hidden;

  img {
    height: 40px;
  }

  .indent-bar-user-content {
    height: 100%;
    color: #fff;

    display: flex;
    align-items: center;
  }

  .indent-bar-user-content-label {
    margin-right: 8px;
    display: block;
  }
}
