.ident-bar {
  display: flex;
  height: 40px;
  background-color: rgba(53, 62, 72, 1);
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  img {
    height: 30px;
  }

  &__user-content {
    height: 100%;
    color: #fff;

    display: flex;
    align-items: center;
  }

  &__user-content-label {
    margin-right: 8px;
    display: block;
  }
}
