[Unit]
Description=Unifi Core Agent
After=network.target

[Service]
SyslogIdentifier=SocketTest
EnvironmentFile=/etc/unifi/unifi.conf
ExecStart=/bin/sh -c "exec java -jar /opt/unifi/unifi-core-agent.jar"
User=unifi
Type=simple

[Install]
WantedBy=multi-user.target
