$attendance-module-border-color: #c5cfd2;

.attendanceModule {

  border: 1px $attendance-module-border-color solid;
  border-radius: 6px;
  margin-bottom: 15px;

  .title {

    padding: 15px;
    border-bottom: 1px $attendance-module-border-color solid;

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

  }

  .body {

    min-height: 140px;
    padding: 15px;

    .evacuation-progress-bar {
      float: left;
      max-width: 110px;
      margin-right: 20px;
    }

    .label {
      float: left;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 20px;
      margin-right: 90px;
      width: 130px;
    }

    .dates {
      margin-top: 20px;
      margin-bottom: 16px;
      span {
        font-weight: 600;
      }
    }

    .studentCount {
      float: left;
      clear: right;

      margin-right: 50px;

      span {
        font-weight: 600;
      }
    }

    .lectureCount {
      span {
        font-weight: 600;
      }
    }

  }

}
