.attendance-reports {
  .views {
    margin-top: 24px;
    p {
      font-size: 15px;
      margin-bottom: 12px;
    }
  }

  &__committers-table {
    .ant-table-expanded-row {
      > td {
        padding: 0;
      }

      .ant-table-thead > tr > th {
        background-color: transparent;

        &:first-child {
          width: 300px;
        }

        &:nth-child(2) {
          width: auto;
        }
      }
    }

    .ant-table-thead > tr > th:nth-child(2) {
      width: 300px;
    }
  }
}
