.directory-details {
  &__back {
    margin-bottom: 20px;
  }

  &__avatar {
    margin: 30px 0;
    @media (min-width: 400px) {
      max-width: 240px;
    }
  }

  &__dt-title {
    font-size: 19px;
    margin-bottom: 20px;
  }

  &__dt-item {
    margin-bottom: 20px;
  }

  &__dt-type {
    text-transform: uppercase;
  }

  &__edit-link {
    float: right;
  }
}
