@import 'src/styles/variables';

.directory-details {
  &__back {
    margin-bottom: 20px;
  }

  &__avatar {
    margin: 30px 0;
    @media (min-width: 400px) {
      max-width: 240px;
    }
  }

  &__dt-title {
    font-size: 19px;
    margin-bottom: 20px;
  }

  &__dt-item {
    margin-bottom: 20px;
  }

  &__dt-type {
    text-transform: uppercase;
  }

  &__metadata-item {
    border: 1px solid #b1bfc4;
    margin-bottom: 20px;
    padding: 8px;
  }

  &__metadata-key {
    font-size: 16px;
    font-style: italic;
  }

  &__metadata-value {
    font-size: 14px;
  }

  &__edit-link {
    float: right;
    color: $unifi-secondary-color;
    &:hover, &:focus {
      color: $unifi-type-color;
    }
  }
}
