[Unit]
Description=Unifi Core
After=network.target

[Service]
SyslogIdentifier=SocketTest
EnvironmentFile=/etc/unifi/unifi.conf
ExecStart=/bin/sh -c "exec java -Dunifi.core.jdbc.url=${jdbc_url} -Dunifi.core.jdbc.user=${jdbc_user} -jar /opt/unifi/unifi-core.jar"
User=root
Type=simple

[Install]
WantedBy=multi-user.target
