[Unit]
Description=unifi.id Core Agent

[Service]
Type=idle
User=unifiid
WorkingDirectory=/opt/unifi
ExecStart=/usr/bin/java -jar /opt/unifi/unifi-core-agent.jar
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
