[Unit]
Description=unifi.id Core Service

[Service]
Type=simple
User=unifiid
WorkingDirectory=/opt/unifi
ExecStart=/usr/bin/java -Dcom.sun.management.jmxremote.port=7998 -Dcom.sun.management.jmxremote.rmi.port=7998 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote=true -jar /opt/unifi/unifi-core.jar
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
