.reports__page {

  .page-content-layout {
    padding-top: 5px;
  }

  iframe {
    width: 100%;
    min-height: 100vh!important;
  }

  .ant-layout-sider-zero-width-trigger {
    top: -5px;
    border-top-right-radius: 0px;
  }

}

@media only screen and (max-width: 600px) {
    .reports__page {
        .iframe__container {
            position: relative;
            margin-left: -15px;
            width: calc(100% + 30px);
        }
    }
}
